testdata/curated/types/decimal.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:curated" xmlns:t="urn:curated" elementFormDefault="qualified">
  <xs:complexType name="MeasurementType">
    <xs:sequence>
      <xs:element name="value" type="xs:decimal"/>
      <xs:element name="precision" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="measurement" type="t:MeasurementType"/>
</xs:schema>
