testdata/curated/types/union-inline.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:curated" xmlns:t="urn:curated" elementFormDefault="qualified">
  <xs:simpleType name="InlineIntOrString">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="InlineUnionContainer">
    <xs:sequence>
      <xs:element name="val" type="t:InlineIntOrString"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inlineUnionContainer" type="t:InlineUnionContainer"/>
</xs:schema>
