testdata/curated/content-models/nested-sequence.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:curated" xmlns:t="urn:curated" elementFormDefault="qualified">
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="orderId" type="xs:string"/>
      <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="quantity" type="xs:integer" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="order" type="t:OrderType"/>
</xs:schema>
