testdata/curated/cardinality/min-occurs-zero.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:curated" xmlns:t="urn:curated" elementFormDefault="qualified">
  <xs:complexType name="ConfigType">
    <xs:sequence>
      <xs:element name="host" type="xs:string"/>
      <xs:element name="port" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="timeout" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="config" type="t:ConfigType"/>
</xs:schema>
