testdata/regressions/issue-94/cycle-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Invalid XSD on purpose: A and B extend each other via simpleContent.
     The redefine walk must not spin on this cycle. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cycle" xmlns:c="urn:cycle">
  <xs:complexType name="A">
    <xs:simpleContent>
      <xs:extension base="c:B">
        <xs:attribute name="a1" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="B">
    <xs:simpleContent>
      <xs:extension base="c:A">
        <xs:attribute name="b1" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
