testdata/regressions/issue-94/cycle-redefine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cycle" xmlns:c="urn:cycle">
  <xs:redefine schemaLocation="cycle-base.xsd">
    <xs:complexType name="A">
      <xs:simpleContent>
        <xs:extension base="c:A">
          <xs:attribute name="a2" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:redefine>
  <xs:element name="root" type="c:A"/>
</xs:schema>
