testdata/curated/basic/attributes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:curated" xmlns:t="urn:curated" elementFormDefault="qualified">
  <xs:complexType name="ProductType">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="color" type="xs:string"/>
    <xs:attribute name="size" type="xs:integer"/>
  </xs:complexType>
  <xs:element name="product" type="t:ProductType"/>
</xs:schema>
